.card_container {
    margin: 1rem 1rem;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: aliceblue;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.chips_wrapper {
    display: flex;
    gap: 0.5rem;
}
.question_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}